.App {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(236, 31, 31);
  height: 100vh;
}

.header-container {
  background-color: rgb(241, 81, 81);
  height: 15vh;
  width: 500px;
  border-radius: 15px;
}