.App {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(236, 31, 31);
  align-items: center;
  flex-direction: column;
}

.header-container {
  justify-content: center;
  background-color: rgb(241, 81, 81);
  height: 17vh;
  width: 500px;
  border-radius: 15px;
  flex-direction: column;
  margin: 10px;
}

input {
  border-radius: 5px;
  border: none;
}

.submit-search {
  border-radius: 5px;
  border: none;
  margin: 6px;
}

.App img {
  height: 250px;
}